<div style="margin:30px">

<h1>Editar Producto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Ver Producto", @product %> |
  <%= link_to "Regresar", products_path %>
</div>
</div>