<h1>Editing address</h1>

<%= render "form_edit", address: @addres %>

<br>

<div>
  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Ver Dirección", @address %></button> |
  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Regresar", addresses_path %></button>
</div>
