<div style="margin:30px">

<h1>Editar Vehículo</h1>

<%= render "form", vehicle: @vehicle %>

<br>

<div>
  <%= link_to "Ver Vehículo", @vehicle %> |
  <%= link_to "Regresar", vehicles_path %>
</div>
</div>