<div style="margin:30px">
<h1>Nuevo Vehículo</h1>

<%= render "form", vehicle: @vehicle %>

<br>

<div>
  <p></p>
  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Regresar", vehicles_path %></button>
</div>
</div>
