.home-image {
  width: auto;
  height: 900px;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(home_page_img.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 58px;
  color: white;
}

.marketing {
  padding-top: 64px;
}

.marketing-item {
  @media (max-width: 1024px) {
    margin-top: 64px !important;
  }
}

.home-img-content {
  padding-left: 16px;
  padding-right: 16px;
}
.home-image {
  @media (max-width: 1800px) {
  }
}

footer {
  background-color: #212529;
}
