<h1>Editing order</h1>

<div>
   <button type="button" class="btn btn-outline-info btn-m " > <%= link_to "Show this order", @order %> </button>
   <button type="button" class="btn btn-outline-info btn-m " > <%= link_to "Back to orders", orders_path %> </button>
</div>
